models/*/*
models/Qwen2-Audio-7B-Instruct
models/Qwen2.5-Omni-7B
data/*.jsonl
data/test
data/ccfqa_test
*.wav
*.tar.gz
*.jsonl
upload
eval/logs/*.log
upload
upload_test
upload_val
upload_train
huggingface_upload/
eval/asr
eval/s2tt
eval/sec
eval/sqa
eval/su
eval/sr
eval/*.log